# Read from Azure Service Bus
# Edit values to match your own environment
input {
    azuretopic {
        namespace => "my-namespace"
        access_key_name => "MyAccessKey"
        access_key => "myacTUal+accESskeY="
        subscription => "my_subscription"
        topic => "logging"
    }
}

# Write to Graylog
# Edit values to match your own environment
output {
  gelf {
    id => "servicebus_through_logstash"
    host => "graylog.host.name"
    port => "12201"
    short_message => "Message"
    sender => "Azure Service Bus via Logstash"
    protocol => "TCP"
    codec => json_lines {
               delimiter => 0
             }
  }
}

# Write to stdout
# For debugging
output {
  stdout {
  codec => json_lines {
             delimiter => 0
           }
    }
}
